# Binaries for programs and plugins
*.exe
/elengrab

# Exclude
/.vscode/*

# Exception to the rule
!/secrets/.gitkeep

# godotenv file
.env

# ignore local files
/secrets/
/local/
.md
issues.txt

# Ignoring Windows resources
cmd/server/rsrc_*.syso

# go.work
go.work
go.work.sum

# Dependency directories (remove the comment below to include it)
vendor/

# Local scripts
scripts/
