# Binaries for programs and plugins
*.exe
/elengrab

# Exclude
/secrets/*
/.vscode/*

# Exception to the rule
!/secrets/.gitkeep

# godotenv file
.env

# ignore files
.md
issues.txt

# go.work
go.work
go.work.sum

# Ignoring Windows resources
cmd/elengrab/rsrc_*.syso

# Dependency directories (remove the comment below to include it)
vendor/

# Local scripts
scripts/
