:root {
    --menu-width: auto;
    --menu-bottom: auto;
    --menu-transform: translateY(0);
    --menu-overflow-y: hidden;
    --menu-box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    --menu-transition: max-height 0.3s ease, padding 0.5s ease;

    --menu-show-max-height: 500px;
    --menu-show-transform: 0;

    --menu-overlay-show-display: block;
    --menu-overlay-block-background: rgba(0,0,0,0.2);

    --menu-action-not-last-margin-bottom: 0;

    --menu-close-display: none;
}

@media (max-width: 768px) {
    .menu--mobile-layout {
        --menu-width: 100vw;
        --menu-bottom: auto; left: auto;
        --menu-transform: translateY(0);
        --menu-overflow-y: auto;
        --menu-box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
        --menu-transition: all 0.3s ease;

        --menu-show-max-height: 70vh;
        --menu-show-transform: translateY(100%);

        --menu-overlay-show-display: block;
        --menu-overlay-block-background: rgba(0,0,0,0.5);

        --menu-action-not-last-margin-bottom: 12px;

        --menu-close-display: flex;
    }
}

.menu {
    width: var(--menu-width);
    max-width: 420px;
    max-height: 0;
    
    position: absolute;

    bottom: var(--menu-bottom);

    padding-top: 0;
    padding-bottom: 0;

    background: var(--bg-menu);
    backdrop-filter: blur(6px);
    color: var(--text-menu);

    border: none;
    border-radius: 15px;
    box-shadow: var(--menu-box-shadow);

    overflow: hidden;
    overflow-y: var(--menu-overflow-y);
    opacity: 1;

    transition: var(--menu-transition);
    transform: var(--menu-transform);

    z-index: 1200;
}

.menu-overlay {
    display: none;
    top: 0; left: 0;
    width: 100vw; height: 100vh;

    position: fixed;

    background: rgba(0,0,0,0.5);
    z-index: 1100;
}

body.ui-blocking-active .menu-overlay--show {
    display: var(--menu-overlay-show-display);
    background: var(--menu-overlay-block-background);
}

.menu--show {
    max-height: var(--menu-show-max-height);
    padding: 12px;
    transform: var(--menu-show-transform);
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--menu-separator);
}

.menu-action {
    display: flex; 
    padding: 8px 8px;

    align-items: center;
    justify-content: flex-start;

    border-radius: 8px;

    cursor: pointer;
    transition: background 0.2s;
}

.menu-action:not(:last-child) {
    margin-bottom: var(--menu-action-not-last-margin-bottom);
}

.menu-action--link {
    text-decoration: none;
    color: inherit;
    display: block;    
}

.menu-action__divider {
    height: 1px;
    background-color: var(--menu-separator);
    margin: 6px;
}

.menu-action__content {
    display: flex;
    gap: 20px;
}

.menu-action__content svg {
    height: 100%;
    width: auto;
}

.menu-action:hover {
    background: var(--menu-action-hover);
}

.menu-close {
  display: var(--menu-close-display);
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;

  position: absolute;

  align-items: center;
  justify-content: center;

  color: var(--text-menu);
  background: transparent;
  font-size: 18px;
  cursor: pointer;

  border: none;
  border-radius: 50%;

  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.menu-close:hover {
  background-color: var(--bg-button-hover);
}
