html {
    scrollbar-gutter: stable;
}

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    padding-bottom: 40px;

    justify-content: center;

    letter-spacing: -0.25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html.ui-blocking-active,
body.ui-blocking-active {
  overflow: hidden;
}

.user-menu {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
    gap: 8px;
}

.user-menu > div {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    border-color: transparent;
    border-radius: 50%;

    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.user-avatar:hover {
    background-color: var(--bg-button-hover);
}

.user-avatar a {
    all: unset;
    text-decoration: none;
    color: inherit;
}

.user-avatar svg {
    width: 30px;
    height: 30px;
}

.main {
    --max-content: 1260px;
    --padding: 30px;

    position: relative;
    width: 95%;
    max-width: var(--max-content);
    min-height: calc(100vh - 40px - 2*8px - 30px - 10px - 30px - 10px);
    padding: var(--padding) var(--padding) 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    background: var(--bg-main);
    border-radius: 20px;
    box-shadow: 0 2px 6px var(--shadow);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}

.main-header * {
    user-select: none;
}

.main-header__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.main-header__logo-image {
    height: 4em;
    width: auto;
}

.main-header__title {
    color: var(--text-header);
    font-size: 64px;
    font-family: 'Cinzel', serif;
    margin: 0;
}

.tooltip {
    position: absolute;

    background: var(--bg-tooltip);
    color: var(--text-tooltip);
    backdrop-filter: blur(6px);

    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;

    white-space: nowrap;
    transform: translateX(-50%) scale(0.95);

    opacity: 0;
    transition: 
        opacity .25s cubic-bezier(0.22, 1, 0.36, 1),
        transform .25s cubic-bezier(0.22, 1, 0.36, 1);

    pointer-events: none;
    z-index: 1000;
}

.tooltip.show {
    opacity: 1;
    transform: translate(-50%) scale(1);
}

.dark .tooltip {
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1260px;

    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    
    padding: 8px 20px;

    border-radius: 20px 20px 0 0;

    background: var(--bg-footer);
    color: var(--text-secondary);

    backdrop-filter: blur(6px);

    font-size: 14px;
    z-index: 1000;
}

.app-version__link {
    color: var(--text-secondary);   
}

.app-version__link:hover {
    color: var(--text-primary);   
}

.footer__app-version {
    flex-shrink: 0;
    white-space: nowrap;
}

.footer__disk-volume {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
}

.server-status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--server-status-offline);
    margin-right: 8px;
    vertical-align: middle;
}

.server-status-dot.online {
    background-color: var(--server-status-online);
}

@media (max-width: 768px) {
    .user-menu {
        top: 12px;
        gap: 8px;
    }

    .user-menu > div {
        width: 35px;
        height: 35px;
    }

    .user-avatar svg {
        width: 27px;
        height: 27px;
    }

    .main {
        --padding: 15px;

        width: 100%;
        min-height: calc(100vh - 40px - 2*8px - 2*15px);
        padding: var(--padding);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer {
        width: 100%;
        padding: 8px 10px;
    }

    .main-header__title {
        font-size: 40px;
    }
    
    .main-header__logo-image {
        height: 2.5em;
    }
}

@media (max-width: 580px) {
    .main-header {
        justify-content: left;
    }

    .media-result__row {
        overflow: visible !important;
    }
    
    .full-bleed {
        margin-inline: calc(- var(--padding));
        width: 100cqw;
    }
}

@media (max-width: 480px) {
    .main-header {
        margin-bottom: 15px;
    }

    .user-menu > div {
        width: 30px;
        height: 30px;
    }

    .user-avatar svg {
        width: 23px;
        height: 23px;
    }

    body {
        margin: 0;
        background: var(--bg-main);
    }

    .main {
        --padding: 10px;

        width: 100%;
        min-height: auto;
        padding: var(--padding);
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0;
        box-shadow: none;
        background: var(--bg-main);
    }

    .footer {
        justify-content: center;
    }

    .main-header__logo-image {
        height: 1.8em;
    }

    .main-header__title {
        font-size: 28px;
    }
}

/* On touch devices for better UX */
@media (hover: none) and (pointer: coarse) {
    .user-avatar {
        border: none;
        background-color: transparent !important;
    }
}
