:root {
    --bg-body: #f0f0f0;
    --bg-main: white;
    --bg-result: #fdfdfd;
    --bg-result-item: #fdfdfd;
    --bg-input: white;
    --bg-format: #f0f0f0;
    --bg-button: #ebebeb;
    --bg-button-hover: #e4e4e4;
    --bg-button-input-action-hover: #e4e4e4;
    --bg-select-label: #ebebeb;
    --text-primary: #333;
    --text-header: #333;
    --text-secondary: #555;
    --text-muted: #9e9e9e;
    --text-gray-disabled: #f0f0f0;
    --text-button-input-action: #999;
    --text-button-input-action-hover: #333;
    --border-input: #7eb980;
    --border-select: #dfe3e8;
    --border-result: #dfe3e8;
    --shadow: rgba(0,0,0,0.1);
    --download: #4caf50;
    --download-delete: #6b7280;
    --download-delete-hover: #c44b4b;
    --download-repeat: #ef5350;
    --download-repeat-hover: #ef5350;
    --avatar-play-btn: #4caf50;
    --error: #ef5350;
    --spinner-light: #d0d0d0;
    --spinner-dl-start: #9e9e9e;
    --spinner-dl-downloading: #4caf50;
    --spinner-dl-finish: #4a90e2;
}

.dark {
    --bg-body: #171717;
    --bg-main: #1F1F1F;
    --bg-result: #1F1F1F;
    --bg-result-item: #1F1F1F;
    --bg-input: #2c2c2c;
    --bg-format: #30363d;
    --bg-button: #30363d;
    --bg-button-hover: #3f444b;
    --bg-button-input-action-hover: #3f444b;
    --bg-select-label: #1F1F1F;
    --text-primary: #cfd8e3;
    --text-header: #cfd8e3;
    --text-secondary: #8b949e;
    --text-muted: #6e7681;
    --text-gray-disabled: #f0f0f0;
    --text-button-input-action: #9e9e9e;
    --text-button-input-action-hover: #cfd8e3;
    --border-input: #7eb980;
    --border-select: #30363d;
    --border-result: #30363d;
    --shadow: rgba(0,0,0,0.4);
    --download: #58d660;
    --download-delete: #6b7280;
    --download-delete-hover: #c44b4b;
    --download-repeat: #ef5350;
    --download-repeat-hover: #ef5350;
    --avatar-play-btn: #4caf50;
    --error: #f85149;
    --spinner-light: #30363d;
    --spinner-accent: #58a6ff;
}
